<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
      <br/><br/>
      <h1>Werknemers</h1>
  </div>
</div>

<br/><br/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h4><font color="#ff3385">Overzicht werknemers</font></h4>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table *ngIf="employees" style="width:100%">
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Avatar</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td><img src={{employee.avatar}}></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br/>
       <button *ngIf="page!==1" style="float: right;">Terug</button>
       <button *ngIf="page!==nrPages" style="float: right;">Volgende</button>
    </div>
    <div class="col-md-2"></div>
</div>

<br/><br/>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
      <p class="lead"><button id="btnAddEmployee" (click)="showForm()"><b>Werknemer toevoegen</b></button></p>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
      <form id="formAddEmployee"  style="display:none" >
          <input type="hidden" id="id" #id>
          <label for="firstName" class="col-sm-4 col-form-label">Voornaam:</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Aaricia" #firstName required>
          </div>
          <label for="lastName" class="col-sm-4 col-form-label">Achternaam:</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" id="lastName" placeholder="van Oostrom" #lastName required>
          </div>
          <label for="role" class="col-sm-4 col-form-label">Rol:</label>
          <div class="col-sm-8">
              <select type="text" class="form-control" id="role" #role>
                  <option value="Receptionist">Receptionist</option>
                  <option value="Chefkok">Chefkok</option>
                  <option value="Kok">Kok</option>
                  <option value="Serveerder">Serveerder</option>
                  <option value="Manager">Manager</option>
                  <option value="AssistentManager">Assistent Manager</option>
                  <option value="Schoonmaker">Schoonmaker</option>
              </select>
          </div>
          <label for="startDate" class="col-sm-4 col-form-label">Startdatum:</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" id="startDate" #startDate required>
          </div>
          <br/>
          <button id="btnAddEmployee" (click)="addEmployee(id.value, firstName.value, lastName.value, role.value)"><b>Voeg toe</b></button> 
        </form>
  </div>
</div>