<br/><br/>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
      <h1>Werknemers</h1>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <a routerLink="/add"><p align="right"><b>Werknemer toevoegen</b></p></a>
  </div>
  <div class="col-md-2"></div>
</div>

<br/><br/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h4><font color="#ff3385">Overzicht werknemers</font></h4>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table *ngIf="employees" style="width:100%">
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Avatar</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td><img src={{employee.avatar}}></td>
                <td><a routerLink="/detail/{{employee.id}}">Pas aan</a></td>
                <td><a (click)="delete(employee)"><font color="#ff3385">Verwijder</font></a></td>
            </tr>
        </table>
        <br/>
        <div *ngIf="page!==nrPages">
            <button style="float: right;" (click)="nextPage(page+1)" type="button">Volgende</button>
        </div>
        <div *ngIf="page===nrPages">
            <button style="float: right;" (click)="nextPage(page+1)" type="button" disabled>Volgende</button>
        </div>
        <div *ngIf="page!==1">
            <button style="float: right;" (click)="nextPage(page-1)" type="button">Terug</button>
        </div>
        <div *ngIf="page===1">
            <button style="float: right;" (click)="nextPage(page-1)" type="button" disabled>Terug</button>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



